{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add a review</h1>

    <p>WORK IN PROGRESS : A FORM WILL BE ADDED DURING THE NEXT QUEST</p>

    <ul>
        <li>
            <a href="{{ path('review_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}